body{
    background-color: rgb(223, 219, 219);
}

.container{
    background-color: rgb(243, 237, 237);
    padding: 5%;
    margin-top: 50%;
}

#titulo{
    text-align: center;
    color: rgb(23, 97, 97);
}

#inp1{
    width: 100%;
}

#inp2{
    width: 100%;
}

#inp3{
    width: 100%;
}

#iniciar{
    text-align: center;
    padding-top: 10px;
}
#butao1{
    width: 50%;
    height: 30px;
    background-color: rgb(84, 176, 204);
    border: none;
    border-radius: 4%;
    color: rgb(229, 231, 231);
    font-weight: bold;
    margin-bottom: 20px;
}

#rodape{
    background-color: rgb(217, 219, 221);
    display: flex;
    align-items: center;
    padding-left: 25%;
    justify-content: end;
}
#txt{
    color: rgba(0, 0, 0, 0.5);
}
#butao2{
    color: rgb(84, 176, 204);
    font-weight: bold;
    border-radius: 4%;
    margin-left: 5%;
    margin-right: 3px;
}

@media (max-width: 450px){
    .container{
        margin: 10px;
        margin-top: 50px;
    }
    #txt{
        width: 170px;
        font-size: small;
    }
    #butao2{
        width: 100px;
        font-size: x-small;
        margin-right: 3px;
    }
}

@media (min-width:451px) and (max-width:767px){
    .container{
        margin: 50px;
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
        margin: 100px;
        margin-top: 100px;
    }
}

@media(min-width:1025px){
    .container{
        margin:100px;
        margin-top:100px;
    }
}